.odd{
    background-color: rgb(255, 182, 193);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.diff-font-size{
    font-size: 24px;
}

#second{
    color:blue;
    font-size: 36px;
}

#fourth{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}