@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}


.left-links, .right-links{
    display:flex;
    gap: 15px;
}

.header, .footer{
    display:flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 20px;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer{
    background: #eeeeee;
}