body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

a {
    color: white;
    text-decoration: none;
  }

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  }

li{
  padding-bottom: 16px;
}

  .container{
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 72px;
    background: darkmagenta;
    color: white;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  .content{
    display: flex;
    flex: 1;
  }

  .mid-content{
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
  }

  .sidebar {
    width: 300px;
    background: royalblue;
    box-sizing: border-box;
    font-size: 24px;
    padding: 16px;
    display: flex;
    flex-shrink: 0;
  }
  
  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 15px;
    width: 300px;
    margin: 16px;
  }

  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
  }