body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgb(254, 254, 168);
}

ul{
    display: flex;
    list-style-type: none;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

li{
    color: blue;
    margin: 8px;
    padding: 15px;
    background: white;
    font-size: 20px;
    font-weight: 700;
}

li:nth-child(3){
    margin-right: auto; 
}

li:nth-child(4){
    color: orange;
    font-size: 40px;
}

li:nth-child(5){
    margin-left: auto;
}

li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(5),li:nth-child(6),li:nth-child(7){
    height:18px;   
}
